*{
    margin: 0px;
    padding: 0px;
    font-family: cursive, 'Courier New', Courier, monospace;
}
header{
    text-align: center;
    background-color: #06dca3;
}
.tabla{
    border-collapse: collapse;
}
.tab{
    display: inline-block;
    margin: 2%;
}
table tr th{
    border: 1px solid #c5cdcd;
   background-color: #06d5dc;
   width: 160px;
   height: 30px;
}

td{
    border: 1px solid #c5cdcd;
    width: 160px;
    height: 30px;
}

form{
    text-align: center;
}
.formabtn{
    color: black;
    border-radius: 10px;
    background-color: #06d5dc;
    width: 100px;
    height: 25px;
}