*{
    margin: 0px;
    padding: 0px;
    font-family: cursive, 'Courier New', Courier, monospace;
	
}
.estiloboton {

	
	font-family: "Poppins", serif;
}

body {
	display: flex;
	flex-flow: column;
	align-items:center;
	font-family: "Poppins", serif;
	background: radial-gradient(
		circle,
		rgb(94, 199, 255) 10%,
		#7787fb 100%
	);
}
.margen{
    margin-left: 400px;
    margin-right: 400px;
    padding: 20px;
}
h1 {
	font-weight: 800;
	margin: 1rem 0 0;
}
header{
    width: 98%;

    padding: 12px;
    text-align: center;
	background: rgba(57, 39, 255, 0.25);
	 box-shadow: 0 8px 32px 0 rgba(31, 39, 143, 0.37);
	 border-radius: 10px;
	 border: 1px solid rgba(78, 48, 229, 0.18);
    font-size:25px;
}


    .footer{
     text-align: center;
     height: 100px;
	 background: rgba(57, 39, 255, 0.25);
	 box-shadow: 0 8px 32px 0 rgba(31, 39, 143, 0.37);
	 border-radius: 10px;
	 border: 1px solid rgba(78, 48, 229, 0.18);
     padding: 10px;
    width: 98%;
          }
          
.celdas{
    display: flex;
		width: 10rem;
		height: 10rem;
		margin: 0.25rem;
		flex-flow: column;
		border-radius: 0.2rem;
		padding: 1rem;
		font-weight: 300;
		font-size: 0.8rem;
		box-sizing: border-box;
		background: rgba(255, 255, 255, 0.25);
		box-shadow: 0 8px 32px 0 rgba(95, 104, 236, 0.37);
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.18);
		font-size: 30px;
		font-weight: 500;
		
}

.orden{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
